:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin-top: 25px;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }
}

.responsive {
  width: 100%;
  height: auto;
}
