<table [dataSource]="tokensPage?.data" [nbSpinner]="loading" class="mat-elevation-z8 model-full" mat-table
       nbSpinnerStatus="primary">
      
  <ng-container matColumnDef="meter_number">
    <th *matHeaderCellDef mat-header-cell>Meter Number</th>
    <td *matCellDef="let element" mat-cell> {{element.meterNumber}} </td>
  </ng-container>


  <ng-container matColumnDef="tokenNumber">
    <th *matHeaderCellDef mat-header-cell> Token Number</th>
    <td *matCellDef="let element" mat-cell> {{element.tokenString}} </td>
  </ng-container>


  <ng-container matColumnDef="apiKey">
    <th *matHeaderCellDef mat-header-cell> API Key</th>
    <td *matCellDef="let element" mat-cell> {{element.apiKey}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell> Date</th>
    <td *matCellDef="let element" mat-cell> {{element.ID | dateFromObjectId | date: "short"}} </td>
  </ng-container>


  <ng-container matColumnDef="status">
    <th *matHeaderCellDef mat-header-cell> Status</th>
    <td *matCellDef="let element" mat-cell> {{tokenStatus[element.status]}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'disabled-meter': !row.active}" mat-row></tr>
</table>

<mat-paginator [length]="tokensPage?.pageInfo?.count" [pageSize]="10"></mat-paginator>
