<nb-card>
  <nb-card-header>Edit meter</nb-card-header>
  <nb-card-body>
    <div>
        <form [formGroup]="newMeterForm">
            <input formControlName="meterNumber" fullWidth minlength="4" name="meterNumber" nbInput placeholder="Meter Number" required
                   status="basic" type="text">
            <input formControlName="phone" fullWidth minlength="10" name="phoneNumber" nbInput placeholder="Phone Number" required
                   status="basic" type="text">
          </form>
    </div>
    <nb-alert
      *ngIf="!newMeterForm.valid && newMeterForm.touched"
      status="danger"
    >
      <span *ngIf="!newMeterForm.controls['phone'].valid">
        <p></p>
        Invalid Phone Number
      </span>
      <br />
    </nb-alert>
    <nb-alert *ngIf="updateError" status="danger">
      {{ creationError }}
    </nb-alert>
  </nb-card-body>
  <nb-card-footer>
    <button
      (click)="cancel()"
      class="cancel"
      nbButton
      status="danger"
      type="button"
    >
      Cancel
    </button>
    <button (click)="submit()" nbButton status="success" type="submit">
      Submit
    </button>
  </nb-card-footer>
</nb-card>
