<button nbButton hero status="primary" (click)="openNewMeterModal()">ADD NEW</button>

<table [nbSpinner]="loading" nbSpinnerStatus="primary" mat-table [dataSource]="meters" class="mat-elevation-z8">

    <ng-container matColumnDef="meter_number">
        <th mat-header-cell *matHeaderCellDef>Meter Number </th>
        <td mat-cell *matCellDef="let element"> {{element.meterNumber}} </td>
    </ng-container>


    <ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy?.name}} </td>
    </ng-container>


    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.ID | dateFromObjectId | date: "short"}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">

            <div *ngIf="element.meterNumber === loadingMeter;else other_content">
                <button [nbSpinner]="true" ghost nbSpinnerStatus="primary" nbButton>
                    <!-- Saving -->
                </button>
            </div>

            <ng-template #other_content>
                <div *ngIf="!element.active;else other_content">
                    <button nbButton ghost status="primary" nbTooltip="Enable Meter"  (click)="enableMeter(element.meterNumber)">
                        <nb-icon icon="checkmark-circle-outline"></nb-icon>
                    </button>
                </div>

                <ng-template #other_content>
                    <button nbButton ghost status="danger"  nbTooltip="Disable Meter"  (click)="disableMeter(element.meterNumber)">
                        <nb-icon icon="slash-outline"></nb-icon>
                    </button>
                </ng-template>
            </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'disabled-meter': !row.active}"></tr>
</table>
