<button nbButton hero status="primary" (click)="openNewUserModal()">ADD NEW</button>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.ID | dateFromObjectId | date: "short"}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Disable </th>
        <td mat-cell *matCellDef="let element">

            <div *ngIf="element.email === loadingUser;else other_content">
                <button nbSpinner nbSpinnerStatus="success" nbButton>
                    Saving
                </button>
            </div>

            <ng-template #other_content>
                <div *ngIf="element.disabled;else other_content">
                    <button nbButton ghost status="success" (click)="enableUser(element.email)">
                        <nb-icon icon="checkmark-circle-outline"></nb-icon>
                    </button>
                </div>

                <ng-template #other_content>
                    <button nbButton ghost status="danger" (click)="disableUser(element.email)">
                        <nb-icon icon="slash-outline"></nb-icon>
                    </button>
                </ng-template>
            </ng-template>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>