<nb-card>
  <nb-card-header>Add new Meter</nb-card-header>
  <nb-card-body>
    <div>
      <form [formGroup]="newMeterForm">
        <input formControlName="meterNumber" fullWidth minlength="4" name="meterNumber" nbInput placeholder="Meter Number" required
               status="basic" type="text">
      </form>
    </div>
    <nb-alert *ngIf="!newMeterForm.valid && newMeterForm.touched" status="danger">
            <span *ngIf="!newMeterForm.controls['meterNumber'].valid">
                <p></p>
                Invalid Meter Number
            </span>
      <br>

    </nb-alert>
    <nb-alert *ngIf="creationError" status="danger">
      {{creationError}}
    </nb-alert>

  </nb-card-body>
  <nb-card-footer>
    <button (click)="cancel()" class="cancel" nbButton status="danger" type="button">Cancel</button>
    <button (click)="submit()" nbButton status="success" type="submit">Submit</button>
  </nb-card-footer>
</nb-card>
